name: Validate

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 6"

jobs:
  format_check:
    name: "Check formatting"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
           python-version: '3.x'
      - run: pip install clang-format~=18.0
      - name: 'clang-format check'
        run: git ls-files *.c *.h *.cpp *.hpp | xargs clang-format -style=file --dry-run --Werror

  build_examples:
    name: "Build example"
    runs-on: ubuntu-latest
    needs:
      - format_check
    strategy:
      matrix:
        example:
          - echo
        idf_ver:
          - release-v5.3
          - release-v5.4
          - release-v5.5
        idf_target:
          - esp32
    steps:
      - uses: actions/checkout@v4
        with:
          path: esp-discord
      - name: Build
        uses: espressif/esp-idf-ci-action@v1
        with:
          path: esp-discord/examples/${{ matrix.example }}
          esp_idf_version: ${{ matrix.idf_ver }}
          target: ${{ matrix.idf_target }}
